# Output directory
netlist
deliverable

# Temporary file lists
rtl_filelist.f
verif_filelist.f

# Simulation flow temporary files
sim

# Synthesis flow temporary files
abc.history

# Formal verification flow temporary files
symbiyosys.sby
symbiyosys
symbiyosys_bmc
symbiyosys_cover
symbiyosys_prove

# Sphinx output directory
_build
